In [64]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [89]:
df = pd.read_csv("df.csv")

In [90]:
df.head()

,Unnamed: 0,Location,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Delivery_Time,Fast Food,Rolls,...,Turkish,Israeli,Turkish,Assamese,German,Greek,Naga,Middle Eastern,Vietnamese,Hot dogs
0,0,"FTI College, Law College Road, Pune",200.0,50,3.5,12.0,4.0,30,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1,"Sector 3, Marathalli",100.0,50,3.5,11.0,4.0,30,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,Mumbai Central,150.0,50,3.6,99.0,30.0,65,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,"Sector 1, Noida",250.0,99,3.7,176.0,95.0,30,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,"Rmz Centennial, I Gate, Whitefield",200.0,99,3.2,521.0,235.0,65,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
df.shape

(11094, 188)

In [92]:
y = df["Delivery_Time"]

In [93]:
df2 = df.drop("Delivery_Time",axis=1,inplace = True)
df2 = df.drop("Location",axis=1)
#df2 = df.drop("Unnamed: 0",axis=1)

In [7]:
label_encoder = LabelEncoder()
integer_encoded = label_encoder.fit_transform(y)
print(integer_encoded)
# binary encode
onehot_encoder = OneHotEncoder(sparse=False)
integer_encoded = integer_encoded.reshape(len(integer_encoded), 1)
onehot_encoded = onehot_encoder.fit_transform(integer_encoded)
print(onehot_encoded)

[2 2 4 ... 2 2 2]
[[0. 0. 1. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 1. 0. 0.]
 ...
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]]

In [8]:
np.unique(integer_encoded)

array([0, 1, 2, 3, 4, 5, 6], dtype=int64)

In [9]:
y1 = onehot_encoded

In [77]:
df3=df2

In [80]:
df3.drop('Unnamed: 0',axis=1)

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Fast Food,Rolls,Burger,Salad,Wraps,...,Turkish,Israeli,Turkish,Assamese,German,Greek,Naga,Middle Eastern,Vietnamese,Hot dogs
0,200.0,50,3.50,12.0,4.0,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,100.0,50,3.50,11.0,4.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,150.0,50,3.60,99.0,30.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,250.0,99,3.70,176.0,95.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,200.0,99,3.20,521.0,235.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11089,250.0,50,4.20,326.0,189.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11090,100.0,50,3.60,36.0,16.0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11091,100.0,50,3.50,45.0,18.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11092,100.0,50,3.10,24.0,9.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11093,100.0,50,3.61,244.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
import pandas
from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [12]:
import tensorflow as tf
from tensorflow import keras

In [11]:
from keras.callbacks import ModelCheckpoint
from keras.models import Sequential
from keras.layers import Dense, Activation, Flatten
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error 
from matplotlib import pyplot as plt
import seaborn as sb
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings('ignore')
warnings.filterwarnings('ignore', category=DeprecationWarning)
from xgboost import XGBRegressor

Using TensorFlow backend.

In [244]:
X_train, X_test, y_train, y_test = train_test_split(df3, y, test_size=0.20, random_state=42)

In [250]:
#Linear Regrssion model using the Neural Network architecture
NN_model = keras.models.Sequential()

# The Input Layer :
NN_model.add(keras.layers.Dense(128,input_dim = X_train.shape[1], activation='relu'))

# The Hidden Layers :
NN_model.add(keras.layers.Dense(256, kernel_initializer='normal',activation='relu'))
NN_model.add(keras.layers.Dense(256, kernel_initializer='normal',activation='relu'))
# NN_model.add(keras.layers.Dropout(0.3))
NN_model.add(keras.layers.Dense(256, kernel_initializer='normal',activation='relu'))
#NN_model.add(keras.layers.Dense(128,kernel_initializer='normal',activation='relu'))

# The Output Layer :
NN_model.add(keras.layers.Dense(1, kernel_initializer='normal',activation='linear'))

# Compile the network :
NN_model.compile(loss='mean_absolute_error', optimizer='adam', metrics=['mean_absolute_error'])
NN_model.summary()

Model: "sequential_18"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_95 (Dense)             (None, 128)               23808
_________________________________________________________________
dense_96 (Dense)             (None, 256)               33024
_________________________________________________________________
dense_97 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_98 (Dense)             (None, 256)               65792
_________________________________________________________________
dense_99 (Dense)             (None, 1)                 257
=================================================================
Total params: 188,673
Trainable params: 188,673
Non-trainable params: 0
_________________________________________________________________

In [247]:
X_train.head()

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Fast Food,Rolls,Burger,Salad,Wraps,...,Turkish,Israeli,Turkish,Assamese,German,Greek,Naga,Middle Eastern,Vietnamese,Hot dogs
11025,350.0,50,3.80,160.0,73.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1684,600.0,50,4.00,646.0,370.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
499,200.0,50,3.10,41.0,25.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5770,100.0,50,4.00,231.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8290,150.0,50,3.61,244.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [251]:
NN_model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split = 0.2)

Epoch 1/50
222/222 [==============================] - 1s 5ms/step - loss: 9.6929 - mean_absolute_error: 9.6929 - val_loss: 8.5577 - val_mean_absolute_error: 8.5577
Epoch 2/50
222/222 [==============================] - 1s 4ms/step - loss: 8.0036 - mean_absolute_error: 8.0036 - val_loss: 8.0756 - val_mean_absolute_error: 8.0756
Epoch 3/50
222/222 [==============================] - 1s 4ms/step - loss: 7.7164 - mean_absolute_error: 7.7164 - val_loss: 7.4822 - val_mean_absolute_error: 7.4822
Epoch 4/50
222/222 [==============================] - 1s 4ms/step - loss: 7.5539 - mean_absolute_error: 7.5539 - val_loss: 8.2373 - val_mean_absolute_error: 8.2373
Epoch 5/50
222/222 [==============================] - 1s 4ms/step - loss: 7.5569 - mean_absolute_error: 7.5569 - val_loss: 7.5383 - val_mean_absolute_error: 7.5383
Epoch 6/50
222/222 [==============================] - 1s 4ms/step - loss: 7.3431 - mean_absolute_error: 7.3431 - val_loss: 7.3019 - val_mean_absolute_error: 7.3019
Epoch 7/50
222/222 [==============================] - 1s 4ms/step - loss: 7.4634 - mean_absolute_error: 7.4634 - val_loss: 7.4408 - val_mean_absolute_error: 7.4408
Epoch 8/50
222/222 [==============================] - 1s 4ms/step - loss: 7.3229 - mean_absolute_error: 7.3229 - val_loss: 7.3742 - val_mean_absolute_error: 7.3742
Epoch 9/50
222/222 [==============================] - 1s 4ms/step - loss: 7.3553 - mean_absolute_error: 7.3553 - val_loss: 7.5197 - val_mean_absolute_error: 7.5197
Epoch 10/50
222/222 [==============================] - 1s 4ms/step - loss: 7.2429 - mean_absolute_error: 7.2429 - val_loss: 7.2689 - val_mean_absolute_error: 7.2689
Epoch 11/50
222/222 [==============================] - 1s 4ms/step - loss: 7.1449 - mean_absolute_error: 7.1449 - val_loss: 7.9347 - val_mean_absolute_error: 7.9347
Epoch 12/50
222/222 [==============================] - 1s 4ms/step - loss: 7.1869 - mean_absolute_error: 7.1869 - val_loss: 7.1941 - val_mean_absolute_error: 7.1941
Epoch 13/50
222/222 [==============================] - 1s 4ms/step - loss: 7.1388 - mean_absolute_error: 7.1388 - val_loss: 7.0946 - val_mean_absolute_error: 7.0946
Epoch 14/50
222/222 [==============================] - 1s 4ms/step - loss: 6.9749 - mean_absolute_error: 6.9749 - val_loss: 7.3124 - val_mean_absolute_error: 7.3124
Epoch 15/50
222/222 [==============================] - 1s 4ms/step - loss: 7.0309 - mean_absolute_error: 7.0309 - val_loss: 7.4562 - val_mean_absolute_error: 7.4562
Epoch 16/50
222/222 [==============================] - 1s 4ms/step - loss: 7.1183 - mean_absolute_error: 7.1183 - val_loss: 7.3741 - val_mean_absolute_error: 7.3741
Epoch 17/50
222/222 [==============================] - 1s 4ms/step - loss: 6.9125 - mean_absolute_error: 6.9125 - val_loss: 7.0003 - val_mean_absolute_error: 7.0003
Epoch 18/50
222/222 [==============================] - 1s 4ms/step - loss: 7.0345 - mean_absolute_error: 7.0345 - val_loss: 7.1339 - val_mean_absolute_error: 7.1339
Epoch 19/50
222/222 [==============================] - 1s 4ms/step - loss: 6.8147 - mean_absolute_error: 6.8147 - val_loss: 6.9200 - val_mean_absolute_error: 6.9200
Epoch 20/50
222/222 [==============================] - 1s 4ms/step - loss: 6.8722 - mean_absolute_error: 6.8722 - val_loss: 7.1530 - val_mean_absolute_error: 7.1530
Epoch 21/50
222/222 [==============================] - 1s 4ms/step - loss: 6.7875 - mean_absolute_error: 6.7875 - val_loss: 7.4343 - val_mean_absolute_error: 7.4343
Epoch 22/50
222/222 [==============================] - 1s 4ms/step - loss: 6.7148 - mean_absolute_error: 6.7148 - val_loss: 6.8887 - val_mean_absolute_error: 6.8887
Epoch 23/50
222/222 [==============================] - 1s 4ms/step - loss: 6.6353 - mean_absolute_error: 6.6353 - val_loss: 6.7724 - val_mean_absolute_error: 6.7724
Epoch 24/50
222/222 [==============================] - 1s 4ms/step - loss: 6.6995 - mean_absolute_error: 6.6995 - val_loss: 7.3704 - val_mean_absolute_error: 7.3704
Epoch 25/50
222/222 [==============================] - 1s 4ms/step - loss: 6.6561 - mean_absolute_error: 6.6561 - val_loss: 7.0127 - val_mean_absolute_error: 7.0127
Epoch 26/50
222/222 [==============================] - 1s 4ms/step - loss: 6.5048 - mean_absolute_error: 6.5048 - val_loss: 6.6404 - val_mean_absolute_error: 6.6404
Epoch 27/50
222/222 [==============================] - 1s 4ms/step - loss: 6.5906 - mean_absolute_error: 6.5906 - val_loss: 6.6876 - val_mean_absolute_error: 6.6876
Epoch 28/50
222/222 [==============================] - 1s 4ms/step - loss: 6.5063 - mean_absolute_error: 6.5063 - val_loss: 6.6965 - val_mean_absolute_error: 6.6965
Epoch 29/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4748 - mean_absolute_error: 6.4748 - val_loss: 6.6013 - val_mean_absolute_error: 6.6013
Epoch 30/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4199 - mean_absolute_error: 6.4199 - val_loss: 6.6349 - val_mean_absolute_error: 6.6349
Epoch 31/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4201 - mean_absolute_error: 6.4201 - val_loss: 6.8247 - val_mean_absolute_error: 6.8247
Epoch 32/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4529 - mean_absolute_error: 6.4529 - val_loss: 6.4908 - val_mean_absolute_error: 6.4908
Epoch 33/50
222/222 [==============================] - 1s 4ms/step - loss: 6.5296 - mean_absolute_error: 6.5296 - val_loss: 6.6241 - val_mean_absolute_error: 6.6241
Epoch 34/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4565 - mean_absolute_error: 6.4565 - val_loss: 6.7606 - val_mean_absolute_error: 6.7606
Epoch 35/50
222/222 [==============================] - 1s 4ms/step - loss: 6.3161 - mean_absolute_error: 6.3161 - val_loss: 6.4657 - val_mean_absolute_error: 6.4657
Epoch 36/50
222/222 [==============================] - 1s 4ms/step - loss: 6.4354 - mean_absolute_error: 6.4354 - val_loss: 6.6142 - val_mean_absolute_error: 6.6142
Epoch 37/50
222/222 [==============================] - 1s 4ms/step - loss: 6.3822 - mean_absolute_error: 6.3822 - val_loss: 6.7224 - val_mean_absolute_error: 6.7224
Epoch 38/50
222/222 [==============================] - 1s 4ms/step - loss: 6.2937 - mean_absolute_error: 6.2937 - val_loss: 6.6609 - val_mean_absolute_error: 6.6609
Epoch 39/50
222/222 [==============================] - 1s 5ms/step - loss: 6.4090 - mean_absolute_error: 6.4090 - val_loss: 6.5088 - val_mean_absolute_error: 6.5088
Epoch 40/50
222/222 [==============================] - 2s 7ms/step - loss: 6.3538 - mean_absolute_error: 6.3538 - val_loss: 6.6890 - val_mean_absolute_error: 6.6890
Epoch 41/50
222/222 [==============================] - 1s 5ms/step - loss: 6.2313 - mean_absolute_error: 6.2313 - val_loss: 6.8942 - val_mean_absolute_error: 6.8942
Epoch 42/50
222/222 [==============================] - 1s 5ms/step - loss: 6.2574 - mean_absolute_error: 6.2574 - val_loss: 6.5580 - val_mean_absolute_error: 6.5580
Epoch 43/50
222/222 [==============================] - 1s 5ms/step - loss: 6.3140 - mean_absolute_error: 6.3140 - val_loss: 6.4988 - val_mean_absolute_error: 6.4988
Epoch 44/50
222/222 [==============================] - 1s 5ms/step - loss: 6.3019 - mean_absolute_error: 6.3019 - val_loss: 6.9688 - val_mean_absolute_error: 6.9688
Epoch 45/50
222/222 [==============================] - 1s 4ms/step - loss: 6.2524 - mean_absolute_error: 6.2524 - val_loss: 6.4086 - val_mean_absolute_error: 6.4086
Epoch 46/50
222/222 [==============================] - 1s 4ms/step - loss: 6.3189 - mean_absolute_error: 6.3189 - val_loss: 6.4231 - val_mean_absolute_error: 6.4231
Epoch 47/50
222/222 [==============================] - 1s 4ms/step - loss: 6.2638 - mean_absolute_error: 6.2638 - val_loss: 7.4903 - val_mean_absolute_error: 7.4903
Epoch 48/50
222/222 [==============================] - 1s 6ms/step - loss: 6.2032 - mean_absolute_error: 6.2032 - val_loss: 6.4683 - val_mean_absolute_error: 6.4683
Epoch 49/50
222/222 [==============================] - 1s 6ms/step - loss: 6.2331 - mean_absolute_error: 6.2331 - val_loss: 6.4653 - val_mean_absolute_error: 6.4653
Epoch 50/50
222/222 [==============================] - 1s 5ms/step - loss: 6.2003 - mean_absolute_error: 6.2003 - val_loss: 6.3927 - val_mean_absolute_error: 6.3927

In [40]:
X_train.shape

(8875, 186)

In [260]:
X_train.head()

,Average_Cost,Minimum_Order,Rating,Votes,Reviews,Fast Food,Rolls,Burger,Salad,Wraps,...,Turkish,Israeli,Turkish,Assamese,German,Greek,Naga,Middle Eastern,Vietnamese,Hot dogs
11025,350.0,50,3.80,160.0,73.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1684,600.0,50,4.00,646.0,370.0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
499,200.0,50,3.10,41.0,25.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5770,100.0,50,4.00,231.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8290,150.0,50,3.61,244.0,123.0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [258]:
h = NN_model.predict(X_test)

In [255]:
h[0][0]

42.542778

In [254]:
y_test

1891      65
9166      45
5909      65
8144     120
883       30
        ...
9030      30
2344      30
10961     30
1508      45
7628      45
Name: Delivery_Time, Length: 2219, dtype: int64

In [124]:
from sklearn.metrics import accuracy_score,mean_absolute_error

In [241]:
accuracy_score(y_test,h)

0.7039206849932402

In [259]:
mean_absolute_error(y_test,h)

6.06444553858313